body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:black;
}
.title {
    font-size:24px;
    color:white;
    float:left;
}
.center {
    text-align: center;
}
.heading {
    margin-top: 75px;
    font-size: 96px;
    font-weight: bolder;
}
.sub-heading {
    margin-top: 25px;
    color: green;
    font-size: 25px;
}
    .sub-heading:hover {
        font-weight: bold;
        color: yellow;
    }
.link-heading {
    font-size: 24px;
    color:white;
}
.nav-tabs {
    font-size:18px;
}
.chunk {
  min-height: 700px;
  margin-top:25px;
  margin-bottom:100px;
}
.slim {
    width:60%;
    margin-left:auto;
    margin-right:auto;
}
