/*


    Edwin Patrick Cesar
    edwinpjdcesar@gmail.com
    edwincesar.com
    main.css


*/

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:black;
  position:relative;
}
a, a:hover, a:visited {
    text-decoration:none;
}
.body-content {
  min-height: 700px;
  margin-top:50px;
  margin-bottom:50px;
}
.footer-content {
    background-color:black;
    padding:15px;
    height:250px;
    bottom:0;
}
.tab-content {
    padding-left:15px;
    padding-right:15px;
}
.big-space {
    height:300px;
}
.space {
    height:100px;
}
.bottom {
    font-size:120px;
}
    .bottom a {
        text-decoration:none;
        color:white;
    }
.center {
    text-align: center;
}
.thick {
    font-weight:bold;
}
.heading {
    margin-top: 75px;
    font-size: 96px;
    font-weight: bolder;
}
.sub-heading {
    margin-top: 25px;
    color: green;
    font-size: 25px;
}
    .sub-heading:hover {
        font-weight: bold;
        color: yellow;
    }
.link-heading {
    font-size: 24px;
    color:white;
}
.pic {
    height:260px;
}
.big {
    font-size:36px;
}
.medium {
    font-size:24px;
}
.slim {
    width:60%;
    margin-left:auto;
    margin-right:auto;
}
