USE [4NutsDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/23/2015 12:38:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 5/23/2015 12:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 5/23/2015 12:38:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 5/23/2015 12:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 5/23/2015 12:38:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 5/23/2015 12:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FirstName] [nvarchar](max) NULL DEFAULT (''),
	[LastName] [nvarchar](max) NULL DEFAULT (''),
	[Address] [nvarchar](max) NULL DEFAULT (''),
	[City] [nvarchar](max) NULL DEFAULT (''),
	[State] [nvarchar](max) NULL DEFAULT (''),
	[Zip] [nvarchar](max) NULL DEFAULT (''),
	[Phone] [nvarchar](max) NULL DEFAULT (''),
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[tblCard]    Script Date: 5/23/2015 12:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCard](
	[CardID] [uniqueidentifier] NOT NULL,
	[VendorID] [int] NULL,
	[CardType] [varchar](25) NOT NULL,
	[ExperationDate] [datetime] NOT NULL,
	[CardNumber] [bigint] NOT NULL,
	[SecurityNumber] [int] NOT NULL,
	[UserID] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[CardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblColor]    Script Date: 5/23/2015 12:38:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblColor](
	[ColorID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Code] [varchar](7) NOT NULL,
	[Price] [float] NOT NULL,
	[ImageURL] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblDesign]    Script Date: 5/23/2015 12:38:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblDesign](
	[DesignID] [uniqueidentifier] NOT NULL,
	[URL] [varchar](250) NOT NULL,
	[UploadDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DesignID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblFabric]    Script Date: 5/23/2015 12:38:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblFabric](
	[FabricID] [int] NOT NULL,
	[Fabric] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FabricID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblGender]    Script Date: 5/23/2015 12:38:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblGender](
	[GenderID] [int] NOT NULL,
	[Gender] [varchar](25) NOT NULL,
	[Symbol] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblOption]    Script Date: 5/23/2015 12:38:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblOption](
	[OptionID] [int] NOT NULL,
	[PaymentOption] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[OptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblOrder]    Script Date: 5/23/2015 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrder](
	[OrderID] [uniqueidentifier] NOT NULL,
	[CartID] [uniqueidentifier] NULL,
	[PaymentID] [uniqueidentifier] NULL,
	[OrderNumber] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[UserID] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[tblPayment]    Script Date: 5/23/2015 12:38:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPayment](
	[PaymentID] [uniqueidentifier] NOT NULL,
	[CardID] [uniqueidentifier] NULL,
	[OptionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[tblShirt]    Script Date: 5/23/2015 12:38:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblShirt](
	[ShirtID] [uniqueidentifier] NOT NULL,
	[GenderID] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
	[ColorID] [int] NOT NULL,
	[SizeID] [int] NOT NULL,
	[DesignID] [uniqueidentifier] NULL,
	[CreationDate] [datetime] NOT NULL,
	[Price] [float] NOT NULL,
	[FabricID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShirtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[tblShoppingCart]    Script Date: 5/23/2015 12:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblShoppingCart](
	[CartID] [uniqueidentifier] NOT NULL,
	[Quantity] [int] NOT NULL,
	[EstimateTotal] [float] NOT NULL,
	[Tax] [float] NOT NULL,
	[Total] [float] NOT NULL,
	[ItemID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[tblShoppingCartItems]    Script Date: 5/23/2015 12:38:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblShoppingCartItems](
	[ItemID] [int] NOT NULL,
	[CartID] [uniqueidentifier] NOT NULL,
	[ShirtID] [uniqueidentifier] NOT NULL,
	[Id] [nvarchar](128) NOT NULL,
	[Quainty] [int] NOT NULL,
	[Price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[tblSize]    Script Date: 5/23/2015 12:38:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblSize](
	[SizeID] [int] NOT NULL,
	[Size] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblType]    Script Date: 5/23/2015 12:38:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblType](
	[TypeID] [int] NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[Price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblVendor]    Script Date: 5/23/2015 12:38:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblVendor](
	[VendorID] [int] NOT NULL,
	[Vendor] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Customer')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'268bbe55-6047-4507-9e8f-a77457f0ae57', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5f2723c6-709b-4fe9-b6b7-7a4244d6a87f', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'91f5211b-6427-4ea4-89ce-085817fe5344', N'1')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FirstName], [LastName], [Address], [City], [State], [Zip], [Phone]) VALUES (N'5f2723c6-709b-4fe9-b6b7-7a4244d6a87f', N'jim@bob.com', 0, N'AFlndLVSEQhqJS+19VSoQgCWBxSi0LDsc5nLGelo2sVcW+adTdfESfDX0MAWfj3auQ==', N'c4885db1-8566-41e5-99b2-48aa97844877', NULL, 0, 0, NULL, 0, 0, N'jim@bob.com', N'Jim', N'Bob', N'123 taco street', N'taco', N'WI', N'54533', N'555-555-5555')
INSERT [dbo].[tblCard] ([CardID], [VendorID], [CardType], [ExperationDate], [CardNumber], [SecurityNumber], [UserID]) VALUES (N'45dccdbe-3934-4a39-93ce-59a1954c0b2b', 3, N'dsf', CAST(N'2222-06-01 00:00:00.000' AS DateTime), 112312, 12321, N'91f5211b-6427-4ea4-89ce-085817fe5344')
INSERT [dbo].[tblColor] ([ColorID], [Name], [Code], [Price], [ImageURL]) VALUES (1, N'Blue', N'#0000FF', 2.5, N'/Content/img/Shirts/Blue-Shirt-Template.png')
INSERT [dbo].[tblColor] ([ColorID], [Name], [Code], [Price], [ImageURL]) VALUES (2, N'Black', N'#000000', 10, N'/Content/img/Shirts/Black-Shirt-Template.png')
INSERT [dbo].[tblColor] ([ColorID], [Name], [Code], [Price], [ImageURL]) VALUES (3, N'Brown', N'#A52A2A', 2.5, N'/Content/img/Shirts/Brown-Shirt-Template.png')
INSERT [dbo].[tblDesign] ([DesignID], [URL], [UploadDate]) VALUES (N'cfc3fc04-3ad2-4c5f-ae2e-1071cec3bde4', N'/Content/img/Templates/steampunk_gears_.png', CAST(N'2015-05-14 16:59:27.057' AS DateTime))
INSERT [dbo].[tblDesign] ([DesignID], [URL], [UploadDate]) VALUES (N'3dd0128d-0000-4734-9f7b-136325c5c79b', N'/Content/img/Templates/Activision.png', CAST(N'2015-03-12 17:54:05.000' AS DateTime))
INSERT [dbo].[tblDesign] ([DesignID], [URL], [UploadDate]) VALUES (N'5f23fd4d-f742-4c40-9d70-1b9da223bab3', N'/Content/img/Templates/WhiteRadiohead.png', CAST(N'2015-05-14 17:16:20.287' AS DateTime))
INSERT [dbo].[tblFabric] ([FabricID], [Fabric]) VALUES (1, N'Ogranic Cotton')
INSERT [dbo].[tblFabric] ([FabricID], [Fabric]) VALUES (2, N'Linen')
INSERT [dbo].[tblFabric] ([FabricID], [Fabric]) VALUES (3, N'Polyester')
INSERT [dbo].[tblGender] ([GenderID], [Gender], [Symbol], [Price]) VALUES (2, N'Male', N'&#9792', 20.5)
INSERT [dbo].[tblGender] ([GenderID], [Gender], [Symbol], [Price]) VALUES (3, N'Female', N'&#9794', 15.25)
INSERT [dbo].[tblGender] ([GenderID], [Gender], [Symbol], [Price]) VALUES (4, N'Other', N'blah', 17.23)
INSERT [dbo].[tblOption] ([OptionID], [PaymentOption]) VALUES (1, N'Debit')
INSERT [dbo].[tblOption] ([OptionID], [PaymentOption]) VALUES (2, N'Credit')
INSERT [dbo].[tblOption] ([OptionID], [PaymentOption]) VALUES (3, N'Store Credit')
INSERT [dbo].[tblPayment] ([PaymentID], [CardID], [OptionID]) VALUES (N'67f96f02-382d-47fe-99bb-2ea78fb5b4c3', N'45dccdbe-3934-4a39-93ce-59a1954c0b2b', 1)
INSERT [dbo].[tblPayment] ([PaymentID], [CardID], [OptionID]) VALUES (N'2e980ec2-7724-402b-976b-ff1f5adb55a4', N'45dccdbe-3934-4a39-93ce-59a1954c0b2b', 2)
INSERT [dbo].[tblShirt] ([ShirtID], [GenderID], [TypeID], [ColorID], [SizeID], [DesignID], [CreationDate], [Price], [FabricID]) VALUES (N'00000000-0000-0000-0000-000000000000', 3, 4, 20, 4, N'7321c14e-79d9-420d-8ec5-af972fb3ee07', CAST(N'1992-06-01 00:00:00.000' AS DateTime), 74, 8)
INSERT [dbo].[tblShirt] ([ShirtID], [GenderID], [TypeID], [ColorID], [SizeID], [DesignID], [CreationDate], [Price], [FabricID]) VALUES (N'735e182c-77a8-4e31-9a11-03de204b6b77', 2, 2, 8, 10, N'7321c14e-79d9-420d-8ec5-af972fb3ee07', CAST(N'2015-05-21 21:35:48.727' AS DateTime), 19.99, 15)
INSERT [dbo].[tblShirt] ([ShirtID], [GenderID], [TypeID], [ColorID], [SizeID], [DesignID], [CreationDate], [Price], [FabricID]) VALUES (N'5341bf3e-b996-4eb0-acb7-16a748ce8fdd', 2, 2, 10, 6, N'adb65696-978a-4ae8-a280-23d1c3e4f18e', CAST(N'2015-05-21 13:39:29.803' AS DateTime), 19.99, 5)
INSERT [dbo].[tblSize] ([SizeID], [Size], [Price]) VALUES (1, N'XS', 10)
INSERT [dbo].[tblSize] ([SizeID], [Size], [Price]) VALUES (2, N'S', 15)
INSERT [dbo].[tblSize] ([SizeID], [Size], [Price]) VALUES (3, N'M', 15)
INSERT [dbo].[tblType] ([TypeID], [Type], [Price]) VALUES (1, N'T-Shirt', 10)
INSERT [dbo].[tblType] ([TypeID], [Type], [Price]) VALUES (2, N'Hoodie', 20)
INSERT [dbo].[tblType] ([TypeID], [Type], [Price]) VALUES (3, N'Polo', 15)
INSERT [dbo].[tblVendor] ([VendorID], [Vendor]) VALUES (1, N'Visa')
INSERT [dbo].[tblVendor] ([VendorID], [Vendor]) VALUES (2, N'MasterCard')
INSERT [dbo].[tblVendor] ([VendorID], [Vendor]) VALUES (3, N'American Express')
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[tblCard]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tblCard]  WITH CHECK ADD FOREIGN KEY([VendorID])
REFERENCES [dbo].[tblVendor] ([VendorID])
GO
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD FOREIGN KEY([CartID])
REFERENCES [dbo].[tblShoppingCart] ([CartID])
GO
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD FOREIGN KEY([PaymentID])
REFERENCES [dbo].[tblPayment] ([PaymentID])
GO
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tblPayment]  WITH CHECK ADD FOREIGN KEY([CardID])
REFERENCES [dbo].[tblCard] ([CardID])
GO
ALTER TABLE [dbo].[tblPayment]  WITH CHECK ADD FOREIGN KEY([OptionID])
REFERENCES [dbo].[tblOption] ([OptionID])
GO
ALTER TABLE [dbo].[tblShirt]  WITH CHECK ADD FOREIGN KEY([ColorID])
REFERENCES [dbo].[tblColor] ([ColorID])
GO
ALTER TABLE [dbo].[tblShirt]  WITH CHECK ADD FOREIGN KEY([DesignID])
REFERENCES [dbo].[tblDesign] ([DesignID])
GO
ALTER TABLE [dbo].[tblShirt]  WITH CHECK ADD FOREIGN KEY([FabricID])
REFERENCES [dbo].[tblFabric] ([FabricID])
GO
ALTER TABLE [dbo].[tblShirt]  WITH CHECK ADD FOREIGN KEY([GenderID])
REFERENCES [dbo].[tblGender] ([GenderID])
GO
ALTER TABLE [dbo].[tblShirt]  WITH CHECK ADD FOREIGN KEY([SizeID])
REFERENCES [dbo].[tblSize] ([SizeID])
GO
ALTER TABLE [dbo].[tblShirt]  WITH CHECK ADD FOREIGN KEY([TypeID])
REFERENCES [dbo].[tblType] ([TypeID])
GO
ALTER TABLE [dbo].[tblShoppingCart]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[tblShoppingCartItems] ([ItemID])
GO
ALTER TABLE [dbo].[tblShoppingCartItems]  WITH CHECK ADD FOREIGN KEY([CartID])
REFERENCES [dbo].[tblShoppingCart] ([CartID])
GO
ALTER TABLE [dbo].[tblShoppingCartItems]  WITH CHECK ADD FOREIGN KEY([ShirtID])
REFERENCES [dbo].[tblShirt] ([ShirtID])
GO
ALTER TABLE [dbo].[tblShoppingCartItems]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
